@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,Microsoft.AspNetCore.Mvc.RazorPages;
@model ToDoCategory;


<form asp-action="CreateUpdate" asp-controller="ToDo"  method="post">
    @*<input asp-for="Category.Id" hidden />*@
    <div class= "border p-3 mt-4 ">
        <div class="row pb-3">
            <h2 class="text-primary" @(Model==null || Model.Id==0)?"Create":"Update" >
                Category    
            </h2>
            <hr/>
        </div>
        <div asp-validation-summary=All></div>
        <div class="row mb-3">
                <label >Title</label>
                 @*<input asp-for="Category.Id"  />*@
                 <input asp-for="Title" type="text" class="form-control" /> 
                 <span asp-validation-for="Title" class="text-danger"></span>
               
            </div>
            <div class="row mb-3">
                <label >Description</label>
                 <input asp-for="Description" type="text" class="form-control" /> 
                 <span asp-validation-for="Description" class="text-danger"></span>
             </div>
            <div class="row mb-3">
                <label > Modified By</label>
                <input asp-for="ModifiedBy" type="text" class="form-control" /> 
                 <span asp-validation-for="ModifiedBy" class="text-danger"></span>
             </div>
            
             <div class="row mb-3">
                <label > IsDeleted</label>
                <input asp-for="IsDeleted" type="text" class="form-control" /> 
                 <span asp-validation-for="IsDeleted" class="text-danger"></span>
              </div>
             <div class="row mb-3">
                <label > IsCompleted</label>
                <input asp-for="IsCompleted" type="text" class="form-control" /> 
                 <span asp-validation-for="IsCompleted" class="text-danger"></span>
              </div>
            @if(Model==null || Model.Id==0)
            {
                <button asp-action="CreateUpdate" asp-controller="ToDo" class="btn btn-primary" type="submit" class="form-control" >Create</button>
            }
            else
            {
                 <input asp-for="Id" hidden />
                <button asp-action="CreateUpdate" asp-controller="ToDo" class="btn btn-primary" type="submit" class="form-control" >Update</button>
            }
            
    </div>
    <a asp-action="Index" asp-controller="ToDo">Back To List</a>
</form>

